*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../img/bg1.jpg) no-repeat;
    background-size: cover;
}
.row{
    position: relative;
    top: 8rem;
    display: flex;
    align-items: center;
    background-color: #13131a;;
    width: 50%;
    height: 50%;
    margin: auto;
    border-radius: 24px;
    border: 2px solid #fff;
}

.button{
    margin: auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    padding: 2rem;
}

.teksbox{
    position: relative;
    bottom: 5px;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 5px 0;
    margin: 5px 0;
    border-bottom: 1px solid white;
   
}
.teksbox i{
    width: 25px;
    float: left;
    text-align: center;
    color: #fff;
}
.teksbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 50%;
    float: left;
    margin: 0 10px;
}
.bttn{
    border-radius: 24px;
    padding: 0.4rem;
    font-size: 1.3rem;
    background-color:  rgb(255, 77, 0);
}
.bttn:hover{
    cursor: pointer;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: #010103;
}